{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %}<h1 class="text-center">Newsletter</h1>{% endblock %}

{% block page_content %}
    <div class="d-flex justify-content-center row">
        <div class="col-12 col-lg-10">
            {% if nb_of_users_subs_to_newsletter|length > 0 %}
                <p class="text-light fst-italic">Il y a actuellement {{ nb_of_users_subs_to_newsletter|length }}
                    personnes
                    inscrites à la newsletter.</p>
            {% else %}
                <p class="text-light fst-italic">
                    Actuellement, il n'y a aucun inscrit à la newsletter.
                </p>
            {% endif %}
            <h2 class="mb-3">Personnalisez le contenu de votre newsletter</h2>
            {{ form_start(newsletter_form) }}
            <div>
                <div class="mb-2">
                    {{ form_label(newsletter_form.title, 'Titre :') }}
                </div>
                {{ form_widget(newsletter_form.title, {'attr': {'class': 'form-control mb-3 text-dark'}}) }}
            </div>
            <div>
                <div class="mb-2">
                    {{ form_label(newsletter_form.content, 'Contenu :') }}
                </div>
                {{ form_widget(newsletter_form.content, {'attr': {'class': 'form-control mb-3 text-dark'}}) }}
            </div>
            <div class="d-flex justify-content-center align-items-center mt-4">
                <button class="btn btn-lg btn-outline-info">
                    {{ button_label|default('Envoyer la newsletter à tous les inscrits !') }}
                </button>
            </div>
        </div>
    </div>
    {{ form_end(newsletter_form) }}
{% endblock %}
