{% extends 'base.html.twig' %}

{% block title %}{{ 'title.about'|trans }}{% endblock %}

{% block body %}
    <div class="about-page">
        <section class="about-us">
            <div class="images">
                <div class="second-img">
                    <img src="{{ asset('build/images/TCS_logo/TCS_white_logo.png') }}" alt="The Court Side Logo">
                </div>

                <div class="last-text d-flex justify-content-around">
                    <div class="text">
                        <h3>1K+</h3>
                        <h5 class="text-center">{{ 'registeredusers.about'|trans }}</h5>
                    </div>

                    <div class="text">
                        <h3>500+</h3>
                        <h5 class="text-center">{{ 'sportsvideo.about'|trans }}</h5>
                    </div>

                    <div class="text">
                        <h3>100K+</h3>
                        <h5 class="text-center">{{ 'videoliked.about'|trans }}</h5>
                    </div>
                </div>
            </div>

            <div class="text p-0">
                <h4>{{ 'aboutus.about'|trans }}</h4>
                <h1>{{ 'premiumsports.about'|trans }}</h1>

                <div class="space"></div>
                <p>
                    {{ 'about.text1'|trans }}<br> <br>
                    {{ 'about.text2'|trans }}<br> <br>
                    {{ 'about.text3'|trans }}
                </p>
            </div>
        </section>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}
