{# fake loading #}
<div class="loading-container disappearance">
    <div>
        <div class="spinner-border text-secondary loading-spinner" role="status">
            <span class="visually-hidden"></span>
        </div>
    </div>
</div>

{# filter button #}
<div class="filter-form-container d-flex align-items-center justify-content-end">
    <div class="btn-group">
        <button type="button" class="btn btn-info dropdown-toggle filter-button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            <span
                class="sorted-by-likes {% if 'likes' not in app.request.uri %}disappearance{% endif %}">{{ 'filter.likes'|trans }}</span>
            <span
                class="sorted-by-views {% if 'views' not in app.request.uri %}disappearance{% endif %}">{{ 'filter.views'|trans }}</span>
            <span
                class="sorted-by-recent {% if 'likes' in app.request.uri or 'views' in app.request.uri %}disappearance{% endif %}">{{ 'filter.recent'|trans }}</span>
        </button>
        <div class="dropdown-menu dropdown-menu-right filter-button-dropdown">
            <a href="{{ recent }}" id="dateFilter" class="filter-button-link">
                <button class="dropdown-item filter-button-link" type="button">{{ 'filter.recent'|trans }}</button>
            </a>
            <a href="{{ likes }}" id="likesFilter" class="filter-button-link">
                <button class="dropdown-item filter-button-link" type="button">{{ 'filter.likes'|trans }}</button>
            </a>
            <a href="{{ views }}" id="viewsFilter" class="filter-button-link">
                <button class="dropdown-item filter-button-link" type="button">{{ 'filter.views'|trans }}</button>
            </a>
        </div>
    </div>
</div>
