<div>
    <div class="sponsor-section py-5 d-flex justify-content-around">
        <img class="img-fluid"
             style="height: 50px"
             src="{{ asset('build/images/sponsors/nike_logo.png') }}"
             alt="Sponsor logo - Nike">
        <img class="img-fluid"
             style="height: 50px"
             src="{{ asset('build/images/sponsors/netflix_logo.png') }}"
             alt="Sponsor logo - Netflix">
        <img class="img-fluid"
             style="height: 50px"
             src="{{ asset('build/images/sponsors/visa_logo.png') }}"
             alt="Sponsor logo - Visa">
    </div>
</div>
<div class="d-flex justify-content-around align-items-md-center home-footer-middle-line">
    <div class="home-footer-website-logo-container d-flex justify-content-around">
        <a href="#">
            <img class="home-footer-website-logo img-fluid"
                 src="{{ asset('build/images/TCS_logo/TCS_white_logo.png') }}"
                 alt="The Court Side Logo">
        </a>
    </div>
    <div class="home-footer-links d-flex mb-sm-4 mt-sm-4 mb-lg-0 mt-lg-0">
        <a class="footer-link" href="https://www.asse.fr/">ASSE.FR</a>
        <a class="footer-link" href="{{ path('app_legal_notice') }}">{{ 'rgpd.legal-notices'|trans }}</a>
        <a class="footer-link" href="{{ path('app_privacy_policy') }}">{{ 'rgpd.privary-policy'|trans }}</a>
    </div>
    <div class="home-footer-social-links d-flex">
        <a href="#" class="fa fa-facebook footer-social-logo"></a>
        <a href="#" class="fa fa-twitter footer-social-logo"></a>
        <a href="#" class="fa fa-instagram footer-social-logo"></a>
        <a href="https://www.linkedin.com/company/origins-digital-emg/" class="fa fa-linkedin footer-social-logo"></a>
    </div>
</div>
<div class="home-footer-description mb-3 font-italic">
    <p class="text-center text-description">The Court Side - {{ "now"|date("Y") }} | created by
        <a class="footer-link"
           href="https://github.com/WildCodeSchool/2022-09-PHP-Bordeaux-OriginsDigital">
            SG1-team
        </a>, @WildCodeSchool, Bordeaux
    <p class="text-center text-description">Powered by On Rewind, an EMG company<br>App version:1.2.0 / UI version:3.1.1
    </p>
</div>
