<div class="info-card card">
    <div class="info-card-body card-body text-center info-card-body">
        <h5 class="card-title mt-5 text-white title-font">{{ title }}</h5>
        <p class="card-text text-gray text-font mb-5">{{ text }}</p>
        {% if buttons == 'true' %}
            <div class="info-card-buttons-container d-flex justify-content-center mb-5">
                <a href="{{ path('app_register') }}">
                    <button type="button" class="btn btn-outline-custom">{{ 'button.register'|trans }}</button>
                </a>
                <a href="{{ path('app_login') }}">
                    <button type="button" class="btn btn-custom">{{ 'button.login'|trans }}</button>
                </a>
            </div>
        {% endif %}
    </div>
</div>
