{# modal for restricted content #}
<div class="modal fade" id="contentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="message-modal-title" id="exampleModalLabel"><i class="fa fa-lock"></i>   {{ 'modal.content-title'|trans }}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="message-modal-body text-center">
                {{ 'modal.content-message'|trans }}
            </div>
            {% if buttons == true %}
            <div class="modal-footer">
                <a href="{{ path('app_register') }}">
                    <button type="button" class="btn btn-outline-custom">{{ 'button.register'|trans }}</button>
                </a>
                <a href="{{ path('app_login') }}">
                    <button type="button" class="btn btn-custom">{{ 'button.login'|trans }}</button>
                </a>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{# modal for restricted feature #}
<div class="modal fade" id="featureModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="message-modal-title" id="exampleModalLabel"><i class="fa fa-lock"></i>   {{ 'modal.feature-title'|trans }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="message-modal-body">
                {{ 'modal.feature-content'|trans }}
            </div>
            <div class="modal-footer">
                {% if buttons == true %}
                    <div class="modal-footer">
                        <a href="{{ path('app_register') }}">
                            <button type="button" class="btn btn-outline-custom">{{ 'button.register'|trans }}</button>
                        </a>
                        <a href="{{ path('app_login') }}">
                            <button type="button" class="btn btn-custom">{{ 'button.login'|trans }}</button>
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
