<nav class="navbar navbar-expand-lg">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"><i class="fa fa-bars"></i></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        {# -------NAV-LINKS------- #}
        <ul class="navbar-nav mr-auto col col-lg-4 text-center d-flex align-items-center
                    justify-content-center justify-content-lg-start">
            <li class="nav-item my-3 my-lg-0">
                <a class="navbar-brand d-none d-lg-block" href="{{ path('app_home') }}">
                    <img src="{{ asset('build/images/TCS_white_logo.png') }}"
                         class="img-fluid"
                         alt="The Court Side Logo">
                </a>
            </li>
            <li class="nav-item mb-3 my-lg-0">
                <a class="nav-link text-nowrap" href="{{ path('app_category') }}">{{ 'navbar.categories'|trans }}</a>
            </li>
            <li class="nav-item mb-3 my-lg-0">
                <a class="nav-link text-nowrap" href="{{ path('app_likes') }}">{{ 'navbar.favorite'|trans }}</a>
            </li>
            <li class="nav-item mb-3 my-lg-0">
                <a class="nav-link text-nowrap" href="{{ path('app_about') }}">{{ 'navbar.about'|trans }}</a>
            </li>
        </ul>

        {# -------SEARCHBAR------- #}
        {{ render(controller('App\\Controller\\SearchController::search')) }}

        {# -------NAV-LOGIN------- #}
        <div class="nav-links d-flex justify-content-center align-items-center justify-content-lg-end
                    col col-lg-4 my-3 py-lg-2">
            {# -------LANGUAGE CHOICE------- #}
            <div class="dropdown">
                <button class="btn dropdown-toggle text-secondary" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                    <img class="flag-current-language"
                         src="{{ asset('build/images/' ~ app.request.locale ~ '-flag.png') }}"
                         alt="Current language flag">
                </button>
                <ul class="dropdown-menu language-list">
                    <li><a class="dropdown-item flag-item"
                           href="{{ path('app_language', {'language': 'fr', 'route': app.request.attributes.get('_route')}) }}">
                            <img class="flag-size" src="{{ asset('build/images/fr-flag.png') }}" alt="French flag"></a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item flag-item"
                           href="{{ path('app_language', {'language': 'en', 'route': app.request.attributes.get('_route')}) }}">
                            <img class="flag-size" src="{{ asset('build/images/en-flag.png') }}" alt="English flag"></a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item flag-item"
                           href="{{ path('app_language', {'language': 'es', 'route': app.request.attributes.get('_route')}) }}">
                            <img class="flag-size" src="{{ asset('build/images/es-flag.png') }}" alt="Spanish flag"></a>
                    </li>
                </ul>
            </div>

            {# -------USER GREETINGS------- #}
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <div class="user-greetings">
                    {% if app.user.username %}
                        <p class="mt-auto my-auto mx-2">{{ 'navbar.hello'|trans }}, {{ app.user.username }}</p>
                    {% else %}
                        <p class="mt-auto my-auto mx-2">{{ app.user.email }}</p>
                    {% endif %}
                </div>
                {# -------OPTIONS DROPDOWN------- #}
                <div class="dropdown show">
                    <a class="btn dropdown-toggle user-options" href="#" role="button" id="dropdownMenuLink"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-gear settings-logo"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                        <div class="d-flex flex-column">
                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('admin') }}"
                                   class="user-profile-dropdown d-flex flex-nowrap align-items-center">
                                    <i class="bi bi-person-fill-gear"></i> {{ 'navbar.admin'|trans }}
                                </a>
                            {% endif %}
                            <a href="{{ path('app_user_show', {'id':app.user.id}) }}"
                               class="user-profile-dropdown d-flex flex-nowrap align-items-center">
                                <i class="bi bi-person-lines-fill"></i> {{ 'navbar.profile'|trans }}
                            </a>
                            <a class="nav-link text-center" href="{{ path('app_user_logout') }}">
                                <button type="button" class="btn btn-custom">{{ 'navbar.logout'|trans }}</button>
                            </a>
                        </div>
                    </div>
                </div>
            {% else %}
                <a class="nav-link" href="{{ path('app_register') }}">
                    <button type="button" class="btn btn-outline-custom">{{ 'navbar.register'|trans }}</button>
                </a>
                <a class="nav-link" href="{{ path('app_user_login') }}">
                    <button type="button" class="btn btn-custom">{{ 'navbar.login'|trans }}</button>
                </a>
            {% endif %}
        </div>
    </div>
</nav>
