{% extends 'base.html.twig' %}

{% block title %}Changer de mot de passe{% endblock %}

{% block navbar %} {% endblock %}
{% block body %}
    <div class="login-form"></div>

    <h1>Reset your password</h1>

    <div class="col-12 col-md-10 col-lg-6 m-auto">
        {{ include('_includes/_errors_container.html.twig') }}
    </div>
    {{ form_start(resetForm) }}
    {{ form_row(resetForm.plainPassword) }}
    {{ include('_includes/_password_requierement.html.twig') }}

    <button class="btn btn-primary btn-block">{{ 'button.reset'|trans }}</button>
    {{ form_end(resetForm) }}
{% endblock %}
{% block footer %} {% endblock %}
