{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %}<h1 class="text-center">Newsletter</h1>{% endblock %}

{% block page_content %}
    {{ include('_includes/_loaderAdmin.html.twig') }}
    <div class="d-flex justify-content-center row" id="newsletter-body">
        <div class="col-12 col-lg-10">
            {% if nb_of_users_subs_to_newsletter|length > 0 %}
                <p class="text-light fst-italic">
                    {{ 'newsletter.there-is'|trans}} {{ nb_of_users_subs_to_newsletter|length }}
                    {{ 'newsletter.nb-register'|trans }}.
                </p>
            {% else %}
                <p class="text-light fst-italic">
                    {{ 'newsletter.no-register'|trans }}.
                </p>
            {% endif %}
            <h2 class="mb-3">{{ 'newsletter.personalize'|trans }}</h2>
            {{ form_start(newsletter_form) }}
            <div>
                <div class="mb-2">
                    {{ form_label(newsletter_form.title)}}
                </div>
                {{ form_widget(newsletter_form.title, {'attr': {'class': 'form-control mb-3 text-dark'}}) }}
            </div>
            <div>
                <div class="mb-2">
                    {{ form_label(newsletter_form.content) }}
                </div>
                {{ form_widget(newsletter_form.content, {'attr': {'class': 'form-control mb-3 text-dark'}}) }}
            </div>
            <div class="d-flex justify-content-center align-items-center mt-4">
                <button disabled class="btn col-6 bg-dark bg-gradient" id="newsletter_submit">
                    {{ 'newsletter.submit'|trans}} !
                </button>
            </div>
        </div>
    </div>
    {{ form_end(newsletter_form) }}
{% endblock %}
