{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %}<h1 class="title">Create teaser</h1>{% endblock %}

{% block page_content %}
    {{ encore_entry_script_tags('app') }}

    <div class="container">
        {{ form_start(teaserForm) }}
        <div class="col-6 m-auto">
            {{ form_label(teaserForm.video, 'Ma vidéo :') }}
            {{ form_widget(teaserForm.video, {'attr': {'class': 'form-control mt-1'}}) }}
        </div>
        <div class="d-flex justify-content-around mt-5">

            <div class="d-flex flex-column justify-content-around mb-1">
                <div class="d-flex flex-column">
                    {{ form_label(teaserForm.secondStart, 'Start :') }}
                    {{ form_widget(teaserForm.secondStart, {'attr': {'class': ''}}) }}
                </div>
                <div class="d-flex flex-column">
                    {{ form_label(teaserForm.duration, 'Duration :') }}
                    {{ form_widget(teaserForm.duration, {'attr': {'class': ''}}) }}
                </div>
            </div>

            <video id="teaser" controls class="w-50">
                <source src="" type="video/mp4">
            </video>

        </div>
        <div class="d-flex justify-content-center mt-5 mb-4">
            <button type='submit' class="btn col-6">Télécharger mon teaser</button>
        </div>
    </div>
    {{ form_end(teaserForm) }}
{% endblock %}
