{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %}<h1 class="text-center">Statistiques du site</h1>{% endblock %}

{% block page_content %}
        <div class="container">
            <div class="row">
                <div class="card col-12 col-sm-6 col-lg-3">
                    <div class="card-body">
                        <h5 class="card-title text-center mb-2">Statistiques globales</h5>
                        <p class="card-text">Nombre d'inscrits : {{ users|length }}</p>
                        <p class="card-text">Nombre de vidéos : {{ videos|length }}</p>
                        <p class="card-text">Nombre de likes : {{ likes|length }}</p>
                    </div>
                </div>
                <div class="card col-12 col-sm-6 col-lg-3">
                    <div class="card-body">
                        <h5 class="card-title text-center mb-2">7 derniers jours</h5>
                        <p class="card-text">Nouveaux inscrits : {{ users_from_past_seven_days[0][1] }}</p>
                        <p class="card-text">Vidéos ajoutées : {{ videos_from_past_seven_days[0][1] }}</p>
                        <p class="card-text">Derniers likes : {{ likes_from_past_seven_days[0][1] }}</p>
                    </div>
                </div>
                <div class="card col-12 col-sm-6 col-lg-3">
                    <div class="card-body">
                        <h5 class="card-title text-center mb-2">30 derniers jours</h5>
                        <p class="card-text">Nouveaux inscrits : {{ users_from_past_thirty_days[0][1] }}</p>
                        <p class="card-text">Vidéos ajoutées : {{ videos_from_past_thirty_days[0][1] }}</p>
                        <p class="card-text">Derniers likes : {{ likes_from_past_thirty_days[0][1] }}</p>
                    </div>
                </div>
                <div class="card col-12 col-sm-6 col-lg-3">
                    <div class="card-body">
                        <h5 class="card-title text-center mb-2">Catégories avec le plus de likes</h5>
                        {% for top_category in most_liked_categories %}
                        <p class="card-text">{{ top_category.name }} : {{ top_category.totalLikes }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {# --- GRAPHS --- #}
            <div class="row pt-4">
                <div class="card col-12 col-sm-6">
                    <div class="card-body">
                        <h5 class="card-title text-center">Inscriptions sur le site (12 derniers mois)</h5>
                        <div>
                            {{ render_chart(subscription_chart) }}
                        </div>
                    </div>
                </div>
                <div class="card col-12 col-sm-6">
                    <div class="card-body">
                        <h5 class="card-title text-center">Likes sur le site (12 derniers mois)</h5>
                    </div>
                </div>
            </div>
        </div>
    {{ encore_entry_script_tags('app') }}
{% endblock %}
