{{ form_start(form) }}
{% if errors %}
    {% for error in errors %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ error }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
{% endif %}
<div class="row d-flex justify-content-center">
    <div class="text-center col-12 col-md-10 col-lg-8"><p class="h5 my-2">Données personnelles</p></div>
    <div class="col-12 col-md-10 col-lg-8">
        {{ form_label(form.username) }}
        {{ form_widget(form.username, {'attr': {'class': 'form-control mb-3'}}) }}
    </div>
    <div class="text-center col-12 col-md-10 col-lg-8"><p class="h5 my-2">Mot de passe</p></div>
    <div class="col-12 col-md-10 col-lg-8">
        {{ form_label(form.current_password) }}
        {{ form_widget(form.current_password, {'attr': {'class': 'form-control mb-3'}}) }}
    </div>
    <div class="col-12 col-md-10 col-lg-8">
        {{ form_label(form.new_password) }}
        {{ form_widget(form.new_password, {'attr': {'class': 'form-control mb-3'}}) }}
    </div>
    <div class="col-12 col-md-10 col-lg-8">
        {{ form_label(form.verify_password) }}
        {{ form_widget(form.verify_password, {'attr': {'class': 'form-control mb-3'}}) }}
    </div>
    <div class="text-center col-12 col-md-10 col-lg-8"><p class="h5 my-2">Newsletter</p></div>
    <div class="mb-3 col-12 col-md-10 col-lg-8">
        {{ form_label(form.newsletter) }}
        {{ form_widget(form.newsletter, {'attr': {'class': 'form-check-input ml-2 mb-3'}}) }}
    </div>
    <div class="d-flex justify-content-around justify-content-md-end mb-3 col-12 col-md-10 col-lg-8">
        <button class="btn btn-secondary mx-md-2">{{ button_label|default('Save') }}</button>
        <a href="{{ path('app_user_show', {'id':app.user.id}) }}"
           class="btn btn-outline-secondary">
            {{ userprofile.back-to-profile-btn|trans }}
        </a>
    </div>
</div>
{{ form_end(form) }}
