{% extends 'base.html.twig' %}

{% block title %}{{ 'userprofile.edit-profile'|trans }}{% endblock %}

{% block body %}
    {% if user.id == app.user.id %}
        <div class="container show-user text-light">
            <h1 class="text-center">{{ 'userprofile.edit-profile'|trans }}</h1>
            <div>
                <div class="p-3 show-user-table">
                    {{ include('user/_form.html.twig', {'button_label': 'userprofile.confirm'|trans}) }}
                </div>
            </div>
        </div>
    {% else %}
        <div class="container d-flex justify-content-center mt-4 text-light">
            <div class="card">
                <div class="card-body d-flex flex-column">
                    <p class="card-text font-italic">{{ 'userprofile.forbidden'|trans }}</p>
                    <a href="{{ path('app_home') }}" class="btn btn-success">{{ 'userprofile.back-to-home-btn'|trans }}</a>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
