{% extends 'user/user_base.html.twig' %}

{% block title %}{{ 'userprofile.title'|trans }}{% endblock %}

{% block profileContent %}
        {{ include('user/_modal_confirm_delete.html.twig') }}

        <div id="user-profile" class="container d-flex flex-column align-items-center">
            <h1 class="text-light my-5">{{ 'userprofile.h1'|trans }}</h1>
            <div class="col-12 col-md-10 col-lg-8 mt-5">
                <table class="table table-dark">
                    <tr>
                        <th class="border-top-0">{{ 'userprofile.email'|trans }}</th>
                        <td class="border-top-0">{{ app.user.email }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'userprofile.password'|trans }}</th>
                        <td>* * * * * * *</td>
                    </tr>
                    <tr>
                        <th>{{ 'userprofile.username'|trans }}</th>
                        <td>
                            {% if app.user.username %}
                                {{ app.user.username }}
                            {% else %}
                                <p class="font-italic">
                                    {{ 'userprofile.username-add'|trans }}
                                </p>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>{{ 'userprofile.newsletter'|trans }}</th>
                        <td>
                            {% if not app.user.newsletter %}
                                <p class="font-italic">
                                    {{ 'userprofile.newsletter-sub-false'|trans }}
                                </p>
                            {% else %}
                                <p class="font-italic">
                                    {{ 'userprofile.newsletter-sub-true'|trans }}
                                </p>
                            {% endif %}
                        </td>
                    </tr>
                </table>
                <div class="container d-flex justify-content-around justify-content-md-end p-4">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-danger" data-toggle="modal"
                            data-target="#deleteProfileModal">
                        {{ 'userprofile.erase-btn'|trans }}
                    </button>
                </div>
            </div>
        </div>
{% endblock %}
{% block footer %}{% endblock %}
